---
- name: Build React app locally
  hosts: localhost
  vars:
    repo_url: "https://github.com/Ivanipani/song-viewer.git"
    local_repo_path: "/tmp/song-viewer"
  tasks:
    - name: Clone/pull repository
      ansible.builtin.git:
        repo: "{{ repo_url }}"
        dest: "{{ local_repo_path }}"
        clone: true
        update: true
        force: true
      register: git_status

    - name: Install dependencies
      ansible.builtin.command:
        cmd: bun install
        chdir: "{{ local_repo_path }}"
      environment:
        PATH: "{{ ansible_env.PATH }}:~/.bun/bin"

    - name: Build React app
      ansible.builtin.command:
        cmd: bun run build
        chdir: "{{ local_repo_path }}"

- name: Deploy React build to web server
  hosts: webservers
  vars:
    build_path_src: "/tmp/song-viewer/build/client"
    build_path_dest: "/var/www/song-viewer"
  tasks:
    - name: Create web app directory
      ansible.builtin.file:
        path: "{{ build_path_dest }}"
        state: directory
        mode: '0755'
        owner: www-data
        group: www-data

    - name: Copy built files to server
      ansible.builtin.copy:
        src: "{{ build_path_src }}/"
        dest: "{{ build_path_dest }}"
        mode: '0644'


