---
- name: Build React app locally
  hosts: localhost
  vars:
    repo_url: "https://github.com/Ivanipani/song-viewer.git"
    local_repo_path: "/tmp/song-viewer"
  tasks:
    - name: Clone/pull repository
      ansible.builtin.git:
        repo: "{{ repo_url }}"
        dest: "{{ local_repo_path }}"
        clone: true
        update: true
        force: true
      register: git_status

    - name: Install npm dependencies
      ansible.builtin.command:
        cmd: npm install
        chdir: "{{ local_repo_path }}"

    - name: Build React app
      ansible.builtin.command:
        cmd: npm run build
        chdir: "{{ local_repo_path }}"

- name: Deploy React build to web server
  hosts: webservers
  vars:
    build_path_src: "/tmp/song-viewer/build/client"
    build_path_dest: "/var/www/song-viewer"
  tasks:
    - name: Create web app directory
      ansible.builtin.file:
        path: "{{ build_path_dest }}"
        state: directory
        mode: '0755'
        owner: www-data
        group: www-data

    - name: Copy built files to server
      ansible.builtin.copy:
        src: "{{ build_path_src }}/"
        dest: "{{ build_path_dest }}"
        mode: '0644'

- name: Deploy track metadata to web server
  hosts: webservers
  vars:
    track_path_src: "/tmp/song-viewer/catalog-manager/catalog"
    track_path_dest: "/var/www/song-viewer/canciones/tracks"
  tasks:
    - name: Create tracks directory
      ansible.builtin.file:
        path: "{{ track_path_dest }}"
        state: directory
        mode: '0755'
        owner: www-data
        group: www-data

    - name: Copy track metadata to server
      ansible.builtin.copy:
        src: "{{ track_path_src }}/"
        dest: "{{ track_path_dest }}"
        mode: '0644'

- name: Configure NGINX
  hosts: webservers
  vars:
    build_path_dest: "/var/www/song-viewer"
    media_path_dest: "/var/www/media/canciones"
    track_path_dest: "/var/www/song-viewer/tracks"
    photos_path_dest: "/var/www/media/fotos"
    server_port: 80
    domain: "canciones.poochella.club"
  tasks:
    - name: Configure NGINX site
      ansible.builtin.template:
        src: templates/nginx-react-app.conf.j2
        dest: /etc/nginx/sites-available/song-viewer
        mode: '0644'
      notify: Restart NGINX

    - name: Enable NGINX site
      ansible.builtin.file:
        src: /etc/nginx/sites-available/song-viewer
        dest: /etc/nginx/sites-enabled/song-viewer
        state: link
      notify: Restart NGINX

  handlers:
    - name: Restart NGINX
      ansible.builtin.service:
        name: nginx
        state: restarted
