---
- name: Deploy media to web server
  hosts: webservers
  vars:
    catalog_path_src: "{{ '../catalog-manager/catalog' | realpath}}"
    catalog_path_dest: /public/song-viewer
  tasks:
    - name: Create catalog directory
      ansible.builtin.file:
        path: "{{ catalog_path_dest }}"
        state: directory
        mode: '0777'
        owner: www-data
        group: www-data
      become: true

    - name: Copy media files to server
      ansible.builtin.copy:
        src: "{{ catalog_path_src }}/"
        dest: "{{ catalog_path_dest }}"
        group: www-data
        owner: www-data
      become: true

    # - name: "Find all files and folders in {{ catalog_path_dest }}"
    #   find:
    #     path: "{{ catalog_path_dest }}"
    #     file_type: any
    #     recurse: true
    #   register: folder_contents_media
    #
    # - name: Transfer ownership of media files to www-data
    #   ansible.builtin.file:
    #     path: "{{ item.path }}"
    #     owner: www-data
    #     group: www-data
    #   loop: "{{ folder_contents_media.files }}"
    #   become: true

