---
- name: Deploy media to web server
  hosts: webservers
  vars:
    media_path_src: "/Users/ivanperdomo/song-viewer/canciones"
    media_path_dest: "/public/song-viewer/canciones"
    photos_path_src: "/Users/ivanperdomo/song-viewer/fotos"
    photos_path_dest: "/public/song-viewer/fotos"
    track_path_src: "../catalog-manager/catalog/tracks"
    track_path_dest: /public/song-viewer/canciones/tracks
  tasks:
    - name: Create media directory
      ansible.builtin.file:
        path: "{{ media_path_dest }}"
        state: directory
        mode: '0777'
        owner: www-data
        group: www-data
      become: true
    - name: Create photos directory
      ansible.builtin.file:
        path: "{{ photos_path_dest }}"
        state: directory
        mode: '0777'
        owner: www-data
        group: www-data
      become: true
    - name: Copy audio files to server
      ansible.builtin.copy:
        src: "{{ media_path_src }}/"
        dest: "{{ media_path_dest }}"
      become: true
    - name: Copy photos to server
      ansible.builtin.copy:
        src: "{{ photos_path_src }}/"
        dest: "{{ photos_path_dest }}"
      become: true

    - name: Create tracks directory
      ansible.builtin.file:
        path: "{{ track_path_dest }}"
        state: directory
        mode: '0755'
        owner: www-data
        group: www-data
      become: true

    - name: Copy tracks directory to server
      ansible.builtin.copy:
        src: "{{ track_path_src }}/"
        dest: "{{ track_path_dest }}"
      become: true

    - name: "Find all files and folders in {{ media_path_dest }}"
      find:
        path: "{{ media_path_dest }}"
        file_type: any
        recurse: true
      register: folder_contents_songstore
    - name: Find all files and folders in {{ photos_path_dest }}
      find:
        path: "{{ photos_path_dest }}"
        file_type: any
        recurse: true
      register: folder_contents_photos
    - name: Transfer ownwership of songstore files to www-data
      ansible.builtin.file:
        path: "{{ item.path }}"
        owner: www-data
        group: www-data
      loop: "{{ folder_contents_songstore.files }}"
      become: true
    - name: Transfer ownwership of photos files to www-data
      ansible.builtin.file:
        path: "{{ item.path }}"
        owner: www-data
        group: www-data
      loop: "{{ folder_contents_photos.files }}"
      become: true

