---
- name: Install and configure NGINX
  hosts: localhost
  vars:
    build_path_dest: "{{ '../build/client' | realpath }}"
    media_path_dest: "/Users/ivanperdomo/song-viewer/canciones"
    photos_path_dest: "/Users/ivanperdomo/song-viewer/fotos"
    track_path_dest: "{{ '../catalog-manager/catalog' | realpath }}"
    server_port: 5001
    domain: "localhost"
  tasks:
    - name: Configure NGINX site
      ansible.builtin.template:
        src: nginx-react-app.conf.j2
        dest: /opt/homebrew/etc/nginx/servers/song-viewer
        mode: '0644'
      notify: Restart NGINX
      changed_when: True
  handlers:
    - name: Restart NGINX
      ansible.builtin.command:
        cmd: brew services restart nginx
