---
- name: Deploy media to web server
  hosts: webservers
  vars:
    songstore_path_src: "/Users/ivanperdomo/song-viewer/canciones"
    songstore_path_dest: "/public/song-viewer/canciones"
    photos_path_src: "/Users/ivanperdomo/song-viewer/fotos"
    photos_path_dest: "/public/song-viewer/fotos"
    catalog_file_path_src: "../catalog-manager/catalog/catalog.yml"
  tasks:
    - name: Create audio directory
      ansible.builtin.file:
        path: "{{ songstore_path_dest }}"
        state: directory
        mode: '0777'
        owner: www-data
        group: www-data
      become: true
    - name: Create photos directory
      ansible.builtin.file:
        path: "{{ photos_path_dest }}"
        state: directory
        mode: '0777'
        owner: www-data
        group: www-data
      become: true
    - name: Copy catalog.yml to server
      ansible.builtin.copy:
        src: "{{ catalog_file_path_src }}"
        dest: "{{ songstore_path_dest }}/catalog.yml"
      become: true
    - name: Copy audio files to server
      ansible.builtin.copy:
        src: "{{ songstore_path_src }}/"
        dest: "{{ songstore_path_dest }}"
      become: true
    - name: Copy photos to server
      ansible.builtin.copy:
        src: "{{ photos_path_src }}/"
        dest: "{{ photos_path_dest }}"
      become: true
    - name: "Find all files and folders in {{ songstore_path_dest }}"
      find:
        path: "{{ songstore_path_dest }}"
        file_type: any
        recurse: true
      register: folder_contents_songstore
    - name: Find all files and folders in {{ photos_path_dest }}
      find:
        path: "{{ photos_path_dest }}"
        file_type: any
        recurse: true
      register: folder_contents_photos
    - name: Transfer ownwership of songstore files to www-data
      ansible.builtin.file:
        path: "{{ item.path }}"
        owner: www-data
        group: www-data
      loop: "{{ folder_contents_songstore.files }}"
      become: true
    - name: Transfer ownwership of photos files to www-data
      ansible.builtin.file:
        path: "{{ item.path }}"
        owner: www-data
        group: www-data
      loop: "{{ folder_contents_photos.files }}"
      become: true

- name: Build React app locally
  hosts: localhost
  vars:
    repo_url: "https://github.com/Ivanipani/song-viewer.git"
    local_repo_path: "/tmp/song-viewer"
    build_path_full: "/tmp/song-viewer/dist/full"
    build_path_audio_only: "/tmp/song-viewer/dist/audio-only"
  tasks:
    - name: Clone/pull repository
      ansible.builtin.git:
        repo: "{{ repo_url }}"
        dest: "{{ local_repo_path }}"
        clone: true
        update: true
        force: true
      register: git_status

    - name: Install npm dependencies
      ansible.builtin.command:
        cmd: npm install
        chdir: "{{ local_repo_path }}"
      when: git_status.changed

    - name: Build React app
      ansible.builtin.command:
        cmd: npm run build
        chdir: "{{ local_repo_path }}"
      when: git_status.changed

- name: Deploy React build to web server
  hosts: webservers
  vars:
    build_path_src: "/tmp/song-viewer/dist"
    build_path_dest: "/var/www/song-viewer"
  tasks:
    - name: Create web app directory
      ansible.builtin.file:
        path: "{{ build_path_dest }}"
        state: directory
        mode: '0755'
        owner: www-data
        group: www-data

    - name: Copy built files to server
      ansible.builtin.copy:
        src: "{{ build_path_src }}/"
        dest: "{{ build_path_dest }}"
        mode: '0644'


- name: Configure NGINX proxy
  hosts: webservers
  roles:
    - role: '/Users/ivanperdomo/github/ivanipani/server-automation/playbooks/roles/nginx'
  vars:
    build_path_dest: /var/www/song-viewer
    audio_path_dest: /public/song-viewer/canciones
    photos_path_dest: /public/song-viewer/fotos
    server_port: 80
    domain: canciones.poochella.club
  tasks:
    - name: Create nginx configuration from template
      ansible.builtin.template:
        src: templates/nginx-react-app.conf.j2
        dest: /etc/nginx/sites-available/song-viewer
        mode: '0644'
      notify: "restart nginx"

    - name: Enable NGINX site
      ansible.builtin.file:
        src: /etc/nginx/sites-available/song-viewer
        dest: /etc/nginx/sites-enabled/song-viewer
        state: link
      notify: "restart nginx"

