.track {
  min-height: 52px;
  padding: 12px 16px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.track:hover {
  background-color: rgba(25, 118, 210, 0.04);
}

.track:active {
  transform: scale(0.995);
}

.trackSelected {
  min-height: 52px;
  padding: 12px 16px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: rgba(25, 118, 210, 0.25);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
