.track {
  min-height: 52px;
  padding: 12px 16px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid
}

.track:hover {
  background-color: light-dark(var(--mantine-color-warmBeige-2), var(--mantine-color-warmGray-7));
}

.track:active {
  transform: scale(0.995);
}

.trackSelected {
  min-height: 52px;
  padding: 12px 16px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: light-dark(var(--mantine-color-warmBrown-2), var(--mantine-color-warmBrown-8));
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid
}
